body{
    background-image: url("http://www.yo-yoo.co.il/rekaim/images/uploads/f9ef48.jpg");
    background-repeat: no-repeat;
    width: 150%;
    width: 150%;
    background-size: contain; 
}
.header{
    box-sizing: border-box;
    font-size:70px;
    line-height: 52px;
    text-align: left;
    position: flex;
    top: -10px;
}

#loction{
   margin-top:140px;
   position: flex;
}
#login_user{
    border: 1px solid black;
    box-sizing: border-box;
   position: relative;;
   right: 30px;

}
#login_pass{
    border: 1px solid black;
    box-sizing: border-box;
   position: relative;
   right: 30px;
   
}
.error{
    box-sizing: border-box;
    color: red;
    margin-left: 0px;
    font-size: small;
    margin-left:40px;
    height: 15px;
    width: 150px;
   
}
#compile{
    box-sizing: border-box;
    position:flex;
    margin-left:45px; 
   margin-top:27px;
    background: black;
    color: white;
    border:none;
    width: 80px;
    height: 40px;
    position: flex;
   border-radius: 2px;
}

.textarea{
    border-radius: 3px;
    width: 168px;
    height: 47px;
    position: relative;
     right: 50px; 
    /* border:none; */
    
    

    
}
#black-line{
     box-sizing: border-box; 
     width: 50px; 
     height: 150px;
     position: flex;
      left:100px;  
    

}
/* .input_icons{
    position: absolute; */
/* } */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  }   */
  
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #login_user{
        float: left; 
    }
    #login_pass{
        float: left;  
    }
    #black-line{
        float: left; 
    }
    #header{
        float: left; 
    }
    .error{
        float: left;  
    }
    #compile{
        float: left; 
    }
  } 
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #login_user{
        float: left;
         margin-left:50px;  
    }
    #login_pass{
        float: left;
         margin-left:50px;  
    }
    #black-line{
        float: left; 
        width: 50px;
        right: 10px;
    }
    #header{
        float: left; 
    }
    .error{
        float: left; 
    }
    #compile{
        float: left; 
    }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #login_user{
        float: left;      
       /* position: flex; */
       margin-right: 70px;
       
    }
    #login_pass{
        float: left;   
        /* position: flex; */
       
    }
    #black-line{
        float: left; 
        width: 30px;
    }
    #header{
        float: left; 
    }
    .error{
        float: left; 
    }
    #compile{
        float: left; 
    }
  } 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #login_user{
        float: left; 
       /* position: flex; */
       
    }
    #login_pass{
        float: left;
        margin-right: 40px;  
    }
    #black-line{
        float: left; 
    }
    #header{
        float: left; 
    }
    .error{
        float: left; 
    }
    #compile{
        float: left;
    }
  } 
   
  
  


