#header1{
    background-color: #003580;
    height: 55px;
    width: 1300px;
    
    display: inline-flex;
}
#bkIcon{
    width: 15px;
    height: 15px;
}
#header2{
    width: 1300px;
    height: 60px;
    background-color: #003580;
     position: relative;
    display: inline-flex;  
}
#logo{
     width: 150px;
     height: 25px;
     font-size: small;
     padding: 10px;
     margin-top:2.5px;
     margin-bottom:2.5px;
     margin-right: 80px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     position: relative;
     display:inline-flex;
}
#logoShekel{
     font-size: x-small;
     color:white;
     text-indent: 450px;
     margin-top: 20px;
     position: absolute;
     display: inline-flex;
     padding-left: 30px;
     padding-right: opx;
     padding-top: 5px;
     padding-bottom: 5px;
     position: relative;
     display: inline-flex;
}
#logoFlag{
       color:white;
       margin-bottom: 20px;
       padding-bottom: 5px;
       padding-top: 5px;
       padding-left: 30px;
       position: relative;
       display: inline-flex;
       margin-top: 15px;
       width: 15px;
       height: 13px;  
}
#button1{
        max-width:200px;
        line-height: 18px;
        width: 190.29px;
        height: 29px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        position: relative;
        font-size: 12px;
        border: 1px solid #003580;
        background-color: #003580;
        margin-top: 10px;
        font-weight: bold;
}
#button2{
        max-width: 94px;
        width: 65px;
        height: 28px;
        font-weight: bold;
        font-size:12px;
        color: black;
        border:1px solid white;
        background-color: white;
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top:9px;
        margin-right: 17px;
}
#button3{
    max-width: 250px;
    font-size: 14px;
    font-weight: bold;
    width: 110px;
    height: 28px;  
    color: black;
    border: 1px solid white;
    background-color: white;
    margin-top:9px;
    margin-right: 17px;
}
#coteret1{
       margin-right:80px;
       color:white;
       padding-right: 10px;
       display: flex;
       align-items: center;  
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-size: 14px;
       font-weight: 400;
       width: 150px;
       height: 30px;
       position: relative;
}
#icon1{
    width: 24px;
    height: 24px;
    margin-left:12px;
    filter: invert(85%);
}
.coteret2{
    display:flex;
    align-items: center;
    width: 120px;
    height: 30px;
    position: relative;   
    margin-left:17px;
    
}
.icon2{
     width: 20px;
     height: 20px;
     position: relative;
     margin-left: 12px;
     filter: invert(100%);
}
#button4{
     width: 50.67px;
     height: 27px;
     font-size: 14px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: #003580;
     color:white;
     border:0px solid #003580;
     font-weight: 400;
}
#button5{
     width: 100.24px;
     height: 30px;
     font-size:14px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: #003580;
     color:white;
     border: 0px solid #003580;
     font-weight: 400;
     
}

#button6{
        width: 130px;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #003580;
        color:white;
        border: 0px solid #003580;
}
#coteret4{
    display: inline-flex;
    align-items: center;
    width: 220px;
    height: 30px;
    position: relative; 
    margin-right: 17px;
    
    
}
#button7{
        width: 220px;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        background-color: #003580;
        border: 0px solid #003580;
        display:block;
}
#header3{
    width: 1300px;
    height: 260px;
    position: absolute;
    margin-top: 54px;
    display: block;
    padding-bottom: 10px;
    background-color: rgba(250, 243, 243, 0.904);
}
#textLine1{
    width:500px;
    height: 30px;
    font-size :24px;
    line-height: 32px;
    padding-bottom: 0px;
    position: relative;
    margin-top: 45px;
    margin-bottom: opx;
    margin-right: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    font-weight: 600;
}
#textLine2{
    width: 1100;
    height: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:opx;
    margin-right: 80px;
    font-weight: 200;
}
#tabla{
    width: 1052px;
    height: 52px;
    border: 4px solid #febb02;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-flex;
    
}
#chart1{
    align-items: center;
    position: relative;
    display: flex;
    position: relative;
}
#icon3{
    width: 30px;
    height: 22px;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    
}
#chitov{
    width: 400px;
    height: 50px;
    border: 1px none white;
    font-size:14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-left: 4px solid #febb02;
    background-color: white;
    color: black;
    display: inline-flex;

}
#chart2{
    align-items: center;
    position: relative;
    display: flex;
    position: relative;
}
#icon4{
    width: 25px;
    height: 15px;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
}
#chitov2{
    width: 145px;
    height: 50px;
    border: 1px none white;
    font-size:14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-left: 4px solid #febb02;
    background-color: white;
    color: black;
    display: inline-flex;
}
#chart3{
    align-items: center;
    position: relative;
    display: flex;
    position: relative;
}
#icon5{
    width: 25px;
    height: 15px;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
  
}
#chitov3{
    width: 210px;
    height: 50px;
    border: 1px none white;
    font-size:14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-left: 4px solid #febb02;
    background-color: white;
    color: black;
    display: inline-flex;
}
#chart4{
    align-items: center;
    position: relative;
    display: flex;
    
}
#button8{
    height: 52px;
    width: 135px;
    background-color: #0077cc;
    color: white;
    font-weight: 500;
    font-size: 24px;
}
#lastPart{
margin-right: 80px;
display:flex;
align-items: center;
}
#checkbox{
    width: 20px;
    height: 20px;
    border:1px solid gray;
}
#chitov5{
    width: 135px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
#header4{
     width: 1300px;
     margin-top: 300px;  
     height: 290px; 
     display: inline-flax;
}
#hagdarot{
    display: inline-block;
}
#push1{
    width: 526px;
    height: 269px;
    margin-right: 80px;
    background-image: url(קלע\ אלון.jpg);
    border: none;
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    position: relative;
    display: inline-flex;
}
#mikom1{
    display: flex;
    align-items: center;
    height: 46px ;
    margin-bottom: 165px;
    position: relative;
}
#mishpat1{
     font-size: 28px;
     width: 225px;
     margin: 0px;
     padding: 0px;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  
#mishpat2{
   font-size: 16px;
   font-weight: normal;
   color: white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-left: 85px;
    }
#pic1{
   width: 15px;
   height: 15px;
   margin-bottom: 35px;
 }
    #tag1{
    width: 30px;
    height: 30px;
   font-size: 26px;
   color:white;
    margin-right: 230px; 
    margin-top: 0px;
    padding-bottom: 40px;
    }
   #push2{
       width: 522px;
       height: 269px;
       margin-right: 15px;
       background-image: url(2019-10-11_12-31-53-\ אמירים.jpg);
       background-repeat: no-repeat;
       background-size: 100% 100%;
       border: none;
       position: absolute;
    }
    #mikom3{
        margin-bottom: 110px;
    }
    #mikom2{
        margin-right: 10px;
        display:flex;
        align-items: center; 
    }
    #mishpat3{
        font-size: 28px;
        width: 110px;
        margin: 0px;
        padding: 0px;
       color: white;
       font-weight: bold;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
      #mishpat4{
        font-size: 16px;
        width: 120px;
        height:145px;
        font-weight: normal;
        color: white;
        position: relative;
        text-align: right;
        margin-top: 0px;
        padding:0px;
        margin-bottom: 0px;
        margin-right: 20px;
        margin-left: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } 
     #pic2{
        width: 15px;
        height: 15px; 
        display: block;
    } 
    #tag2{
        width: 30px;
        height: 30px;
       font-size: 26px;
       color:white;
        margin-right: 335px; 
        margin-top: 0px;
      padding-bottom: 10px;
    } 
    #tag3{
        background-color: black;
        color: white;
        font-size: 12px;
        text-align:center;
        width: 65px;
        height: 35px;
        font-weight: 500;
        margin-right: 445px;
        font-weight: bold;
    }
    #header5{
        width: 1300px;
        height: 290px;
    }
    #mikom4{
        display:flex;
        align-items: center; 
        width: 340px;
        height: 70px;
    }
    #mikom5{
        margin-bottom: 290px;
    }
    #push3{
        width: 345px;
        height:270px;
        background-image: url(ראש\ פינה.jpg);
        border:none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-right: 80px;
    }
    #mishpat5{
        width: 140px;
        height: 38px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 28px;
         font-weight: bold;
         color: white;
         margin-top:0px;
         margin-bottom: 0px;
    }
    #pic3{
        width: 15px;
        height: 15px;
    }
     #tag4{
        width: 30px;
        height: 30px;
        color:white;
        background-color: transparent;
        font-size: 24px;
        padding-bottom: 35px;
        margin-right: 145px;
    } 
    #mishpat6{
        width: 250px;
        height: 18px;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        font-weight: 500;
        text-align: right;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    #tag5{
        background-color: black;
        color: white;
        font-size: 12px;
        text-align:center;
        width: 65px;
        height: 35px;
        font-weight: 500;
        font-weight: bold;
        margin-right: 265px;
        position: relative;
       margin-top: 137px;
    }
     #push4{
        width: 345px;
        height:270px;
        background-image: url(נהריה.jpg);
        border:none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        margin-right: 15px;
    } 
    #mikom6{
        display:flex;
        align-items: center; 
        width: 340px;
        height: 70px;
    }
    #mishpat7{
        width: 90px;
        height: 38px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 28px;
         font-weight: bold;
         color: white;
    }
    #pic4{
        width: 15px;
        height: 15px;
    }
   #tag6{
    width: 30px;
    height: 30px;
    color:white;
    background-color: transparent;
    font-size: 24px;
    padding-bottom: 35px;
    margin-right: 195px;   
   }
   #mishpat8{
    width: 250px;
    height: 18px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    text-align: right;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
   }
   #mikom7{
       margin-bottom: 290px;
   }
   #tag7{
    background-color: black;
    color: white;
    font-size: 12px;
    text-align:center;
    width: 65px;
    height: 35px;
    font-weight: 500;
    font-weight: bold;
    margin-right: 265px;
    position: relative;
   margin-top: 137px;
   }
   #push5{
      position: absolute;
      margin-right: 378px;
      width: 345px;
        height:270px;
        background-image: url(רמות.jpg);
        border:none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
   }
   #mikom8{
    display:flex;
    align-items: center; 
    width: 340px;
    height: 65px;
   }
   #mishpat9{
    width: 150px;
    height: 38px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 28px;
     font-weight: bold;
     color: white;
     padding: 0px;
     margin:0px;
   }
   #pic5{
    width: 15px;
    height: 15px; 
   }
    #tag8{
    width: 30px;
    height: 30px;
    color:white;
    background-color: transparent;
    font-size: 24px;
    padding-bottom: 35px;
    margin-right: 135px;
   } 
  #mishpat10{
    width: 250px;
    height: 18px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    text-align: right;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
  }
 #tag9{
    background-color: black;
    color: white;
    font-size: 12px;
    text-align:center;
    width: 65px;
    height: 35px;
    font-weight: 500;
    font-weight: bold;
    margin-right: 265px;
    position: relative;
   margin-top: 137px;
  } 
  
    
   
      
  
    
    


  









 








     






  
    


